* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #0081F1;
    --cta-color: #DBFF5E;
    --black-color: #262626;
    --white-color: #f8f8f8;
    --thirth-color: #d9d9d9;
}

body {
    background-color: #FAFAF7;
}

p {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

/* NAVBAR */
.bg-navbar {
    background-color: var(--thirth-color);
}

.logo {
    font-family: "Gwendolyn", cursive;
    font-size: clamp(1.5rem, 1.108vw + 1.169rem, 2rem);
    color: var(--black-color);
    font-weight: 700;
}

.btn_cta {
    background-color: var(--primary-color);
}

.navbar-nav a {
    color: var(--black-color);
}

.navbar-nav .btn_cta {
    color: var(--white-color);
}


/*Main*/
main {
    flex: 1;
    padding-bottom: 50px; 
}


/* Footer */

.footer {
    border-top: 1px solid #dcdcdc; 
    padding: 15px 20px;
    background-color: #f8f8f8; 
}

/* Contenido alineado en dos lados */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
}

/* Links del lado derecho */
.footer-links a {
    color: #555;
    margin-left: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


